<div class="container-form mx-auto mt-5">
    <div class="mb-4">
        <h2 class="text-center"><%= status.toUpperCase() %> FORM</h2>
    </div>

    <% if (status === "register") { %> 
    <form action="/customers/register" method="POST">
    <% } else if (status === "edit") { %> 
    <form action="/customers/<%= customer.id %>/editProfile" method="POST">
    <% } %>
        <div class="error mb-3">
            <span>
            <% if (errors.identityNumber && !errors.identityNumber.isUnique) { %>
                <%= errors.identityNumber.notEmpty %><br>
                <%= errors.identityNumber.len %>
            <% } %> 
            </span>
        </div>

        <label class="mb-2" for="">ID Number:</label>
        <span class="isUnique-error">
            <% if (errors.identityNumber && errors.identityNumber.isUnique) { %> 
                <%= errors.identityNumber.isUnique %>
            <% } %>
        </span>

        <div class="input-group mb-3">
            <span class="input-group-text"><i class="far fa-id-card"></i></span>
            <input name="identityNumber" type="text" class="form-control" placeholder="Input your id number" value="<%= customer.identityNumber ? customer.identityNumber : '' %>">
        </div>

        <label class="mb-2" for="">Full Name:</label><span class="notEmpty-error"><%= errors.fullName ? errors.fullName.notEmpty : '' %></span>
        <div class="input-group mb-3">
            <span style="width: 44px" class="input-group-text"><i style="margin: 0 auto" class="fas fa-user"></i></span>
            <input name="fullName" type="text" class="form-control" placeholder="Input your full name" value="<%= customer.fullName ? customer.fullName : '' %>">
        </div>

        <label class="mb-2" for="">Address:</label>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-map-marked"></i></span>
            <input name="address" type="text" class="form-control" placeholder="Input your address" value="<%= customer.address ? customer.address : '' %>">
        </div>

        <label class="mb-2" for="">Birth Date:</label><span class="notEmpty-error"><%= errors.birthDate ? errors.birthDate.notEmpty : '' %></span>
        <div class="input-group mb-3">
            <span style="width: 44px" class="input-group-text"><i style="margin: 0 auto" class="far fa-calendar-alt"></i></span>
            <input name="birthDate" type="date" class="form-control" value="<%= customer.birthDate ? customer.birthDate : '2000-01-01' %>">
        </div>

        <label class="mb-2">Gender</label>
        <div class="mb-5">
            <input <%= customer.gender === 'male' ? 'checked' : '' %> type="radio" class="btn-check" name="gender" id="success-outlined" autocomplete="off" value="male">
            <label style="width: 48%; float: left" class="btn btn-outline-success" for="success-outlined">Male</label>

            <input <%= customer.gender === 'female' ? 'checked' : '' %> type="radio" class="btn-check" name="gender" id="danger-outlined" autocomplete="off" value="female">
            <label style="width: 48%; float: right" class="btn btn-outline-danger" for="danger-outlined">Female</label>
        </div>

        <div class="button d-grid gap-2 mx-auto">
            <button class="btn btn-primary"><%= status.toUpperCase() %></button>
            <a href="/customers" class="btn btn-info btn-danger">CANCEL</a>
        </div>
    </form>
</div>